Source: nala
VCS-Git: https://gitlab.com/volian/nala.git
VCS-Browser: https://gitlab.com/volian/nala
Priority: important
Section: admin
Homepage: https://gitlab.com/volian/nala
Maintainer: Volian Developers <volian-devel@volian.org>
Uploaders: Blake Lee <blake@volian.org>
Standards-Version: 4.6.0
Build-Depends:	debhelper-compat (= 13),
				nuitka (>= 0.6.18.6+ds-1~),
				python3-apt,
				python3-pexpect,
				python3-requests,
				python3-jsbeautifier,
				pandoc,
				chrpath,
				bash-completion,
				dh-sequence-bash-completion

Package: nala
Architecture: any
Depends:	${shlibs:Depends},
			${misc:Depends},
			libpython3.9,
			python3-apt,
			python3-pexpect,
			python3-requests,
			python3-jsbeautifier,
			aria2,
Description: commandline wrapper for the apt package manager
 nala is a wrapper for the apt package manager. It has a lot
 of the same functionality, but formats the output to be more
 human readable. Also implements a history function to see past
 transactions and undo/redo them. Much like Fedora's dnf history.
