Source: nala
Priority: optional
Section: admin
Maintainer: Volian Developers <volian-devel@volian.org>
Uploaders: Blake Lee <blake@volian.org>
Build-Depends:
  debhelper-compat (= 13),
  ca-certificates,
  cargo,
  rustc,
  libapt-pkg-dev,
  pkg-config,
  libssl-dev,
  bash-completion,
  dh-sequence-bash-completion,
Rules-Requires-Root: no
Standards-Version: 4.6.2
Homepage: https://gitlab.com/volian/nala
Vcs-Git: https://gitlab.com/volian/nala.git
Vcs-Browser: https://gitlab.com/volian/nala

Package: nala
Architecture: any
Depends:
  ${shlibs:Depends},
  ${misc:Depends},
  apt,
Description: Commandline frontend for the APT package manager
 Nala is a frontend for the APT package manager. It keeps APT's package
 semantics while presenting package operations in a clearer, more inspectable
 format before changes are committed.
