#!/usr/bin/make -f
export PYBUILD_NAME=nala

%:
	set -x
	dh $@ --with python3 --buildsystem=pybuild

override_dh_clean:
	rm -rf nala.egg-info
	rm -rf docs/nala.8.gz
	dh_clean

execute_after_dh_auto_install:
	rm -rf debian/nala/usr/lib/python3.9/dist-packages/nala/__pycache__/
	rm -rf debian/nala/usr/lib/python3.10/
	mv debian/nala/usr/lib/python3.9 debian/nala/usr/lib/python3

execute_before_dh_installman:
	pandoc docs/nala.8.md \
	--standalone \
	--from markdown \
	--to man | gzip -c > docs/nala.8.gz
